@model Echo.Models.Aircraft
<div class="row">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Information Field</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="alert alert-info">
                        <h4>Aircraft : @Model.Nama</h4>
                        <h5>Flight Number : @Model.FlightNumber</h5>
                        <h5>Model : @Model.Model</h5>
                        <div class="row">
                            <div class="col-xs-8 col-sm-6">
                                From : @Model.Asal
                            </div>
                            <div class="col-xs-4 col-sm-6">
                                To : @Model.Tujuan
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="alert alert-info">
                        <h4>Status : @Model.Status</h4>
                        <h5>Position : @Model.Latitude , @Model.Longitude</h5>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
